.headerContainer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.headerLogo {
    color: #333;
    font-size: 2rem;
    margin: 0;
}
  
.headerLogo span {
    margin-right: 2px;
}
  
.navBar {
    background-color: #f1eded;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navBar :hover {
    color: #eb0b0b;
} 
